*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    line-height: 1.6;
}

.heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 36px;
    margin: 40px 0 60px 0;
}

form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 60px;
    gap: 1em;
}

#searchTerm, #search{
    padding: 0.5em;
}

#search{
    background-color: rgb(167, 214, 97);
    cursor: pointer;
}

#showMoreButton{
    background-color: #008cba;
    font-size: 18px;
    border: none;
    color: #fff;
    padding: 10px 20px;
    text-align: center;
    display: block;
    margin: 30px auto;
    cursor: pointer;
    display: none;
}

#search-result{
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 40px;
}

#search-result img{
    width: 100%;
    height: 230px;
    object-fit: cover;
    border-radius: 5px;
}